/* Variables */
$backcolor: rgb(30, 150, 250);
$titlecolor: rgb(236, 200, 56);
$secbackcolor: rgba(50, 200, 250, .5);
$amarillodos: rgb(170, 139, 44);
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("https://thumbs.dreamstime.com/b/m%C3%A1rmol-de-marfil-r%C3%BAstico-extracto-beige-natural-del-modelo-la-arena-con-alta-resoluci%C3%B3n-para-decoraci%C3%B3n-exterior-interior-151985438.jpg");
    filter: sepia(20%);
}
header {
    display: flex;
    justify-content: space-around;
    font-family: 'Pacifico', cursive;
    background: linear-gradient( $backcolor, $secbackcolor);
    color: $titlecolor;
    margin-bottom: 10px;
    h1 {
        font-size: 50px;
        letter-spacing: 5px;
    }
    p {
        font-size: 20px;
    }
}

#container {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-areas: "canvas controles";
    .canvassec {
        grid-area: canvas;
        #memorias {
            float: right;
            margin-right: 20px;
            padding: 10px;
            position: relative;
            top: 25px;
            // background: rgba(180, 180, 255, .4);
            border-radius: 10px;
            .memories {
                margin: 15px 0;
                .btnsketch {
                    width:60px;
                    height: 35px;
                    font-family: Georgia;;
                    border-radius: 8px;
                    opacity: 85%;
                    border-color: wheat;
                }
            }
        }
        #canvas {
            margin-left: 15%;
            background-color: rgba(255, 255, 255, .4);
            // background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTwhimYyW0sE27B6i-h-j01x6-8yaKBDjCV0zdw5p_keHdMpsVN&usqp=CAU);
            // object-fit: cover;
            // background-size: cover;
            opacity: 80%;
        }
    }
    #controles {
        grid-area: controles;
        font-family: Georgia;
        background: rgba(255, 255, 250, .2);
        padding: 10px 20px 0px 20px;
        text-align: center;
        // width: 80%;
        width: 450px;
        border-radius: 10px;
        h3 {
            margin-bottom: 10px;
            font-size: 30px;
            color: $amarillodos;
        }
        p {
            color:$backcolor;
        }
        .form {
            .inputs {
                margin: 15px 0;
                p {
                    margin-left: 10px;
                    font-weight: bold;
                    color: $amarillodos;
                }
                .indobles {
                    display: inline-flex;
                    width: 200px;
                    justify-content: center;
                    position: relative;
                }
                .var {
                    left:-10px;
                }
                input {
                    height: 22px;
                    width: 400px;
                    border-radius: 10px;
                    background-color: $titlecolor;
                    margin-top: 3px;
                    text-align: center;
                }
            }
            .boton {
                display: flex;
                justify-content: space-between;
                padding: 0 30px ;
                                
                button {
                    background-color: $backcolor;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: large;
                    font-family: 'Franklin Gothic Medium';
                    color: whitesmoke;
                    width: 80px;
                    height: 30px;    
                    border-color: $backcolor;
                    margin-bottom: 10px;
                }    
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    #container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "controles"
                              "canvas";
        #controles {
            width: 500px;
            justify-self: center;
            margin-bottom: 20px;
        }
        .canvassec {
            border-top: 2px dashed rgba(0, 0, 0, .4);
            text-align: center;
            #canvas {
                margin: 20px auto 20px 10%;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    body {
        width: 100%;
    }
    header {
        h1 {
            font-size: xx-large;
        }
    }
    #container {
        #controles {
            padding: 0;
        }
        .canvassec {
            text-align: center;
            #canvas {
                margin-left: 0;
                margin-right: 0;
            }

        }
    }
}
@media screen and (max-width: 600px) {
    #memorias {
        display: inline-flex;
    }
}
@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
    }
    #container {
        width: 100%;
    }
    #controles {
        width: auto;
    }
    #canvas {
        width: 100%;
        height: auto;
    }
}