/* Variables */
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://thumbs.dreamstime.com/b/m%C3%A1rmol-de-marfil-r%C3%BAstico-extracto-beige-natural-del-modelo-la-arena-con-alta-resoluci%C3%B3n-para-decoraci%C3%B3n-exterior-interior-151985438.jpg");
  filter: sepia(20%);
}

header {
  display: flex;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  background: linear-gradient(#1e96fa, rgba(50, 200, 250, 0.5));
  color: #ecc838;
  margin-bottom: 10px;
}
header h1 {
  font-size: 50px;
  letter-spacing: 5px;
}
header p {
  font-size: 20px;
}

#container {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-areas: "canvas controles";
}
#container .canvassec {
  grid-area: canvas;
}
#container .canvassec #memorias {
  float: right;
  margin-right: 20px;
  padding: 10px;
  position: relative;
  top: 25px;
  border-radius: 10px;
}
#container .canvassec #memorias .memories {
  margin: 15px 0;
}
#container .canvassec #memorias .memories .btnsketch {
  width: 60px;
  height: 35px;
  font-family: Georgia;
  border-radius: 8px;
  opacity: 85%;
  border-color: wheat;
}
#container .canvassec #canvas {
  margin-left: 15%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 80%;
}
#container #controles {
  grid-area: controles;
  font-family: Georgia;
  background: rgba(255, 255, 250, 0.2);
  padding: 10px 20px 0px 20px;
  text-align: center;
  width: 450px;
  border-radius: 10px;
}
#container #controles h3 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #aa8b2c;
}
#container #controles p {
  color: #1e96fa;
}
#container #controles .form .inputs {
  margin: 15px 0;
}
#container #controles .form .inputs p {
  margin-left: 10px;
  font-weight: bold;
  color: #aa8b2c;
}
#container #controles .form .inputs .indobles {
  display: inline-flex;
  width: 200px;
  justify-content: center;
  position: relative;
}
#container #controles .form .inputs .var {
  left: -10px;
}
#container #controles .form .inputs input {
  height: 22px;
  width: 400px;
  border-radius: 10px;
  background-color: #ecc838;
  margin-top: 3px;
  text-align: center;
}
#container #controles .form .boton {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
#container #controles .form .boton button {
  background-color: #1e96fa;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  font-family: "Franklin Gothic Medium";
  color: whitesmoke;
  width: 80px;
  height: 30px;
  border-color: #1e96fa;
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #0000b4, #1e96fa);
  margin-bottom: 0;
  padding: 8px 100px;
  margin-top: 20px;
  position: relative;
  top: 2.3vh;
}
footer audio {
  margin-left: 20px;
  height: 20px;
  width: 500px;
  opacity: 30%;
}
footer audio:hover {
  opacity: 60%;
}
footer p strong a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  #container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "controles" "canvas";
  }
  #container #controles {
    width: 500px;
    justify-self: center;
    margin-bottom: 20px;
  }
  #container .canvassec {
    border-top: 2px dashed rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  #container .canvassec #canvas {
    margin: 20px auto 20px 10%;
  }
}
@media screen and (max-width: 950px) {
  footer {
    padding-left: 5px;
    padding-right: 15px;
  }
  footer audio {
    margin-left: 10px;
  }
}
@media screen and (max-width: 780px) {
  body {
    width: 100%;
  }

  header h1 {
    font-size: xx-large;
  }

  #container #controles {
    padding: 0;
  }
  #container .canvassec {
    text-align: center;
  }
  #container .canvassec #canvas {
    margin-left: 0;
    margin-right: 0;
  }

  footer {
    display: block;
    text-align: center;
  }
  footer p {
    margin-top: 20px;
    font-size: larger;
  }
}
@media screen and (max-width: 600px) {
  #memorias {
    display: inline-flex;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
  }

  #container {
    width: 400px;
  }
  #container .canvassec {
    height: auto;
  }
  #container #controles {
    position: relative;
    left: 40px;
    width: auto;
    justify-content: center;
  }

  #canvas {
    position: relative;
    left: 40px;
    width: 100%;
    height: auto;
  }

  footer audio {
    width: 400px;
  }
}

/*# sourceMappingURL=index.css.map */
